{% if section.settings.photo-content-slider %}
<div id="photo-content-slider" class="photo-content-slider"> 
    <div class="slider-container">
      <div class="slider imgcontentslider slider-custom">
          {% for block in section.blocks %}
            <div>
              <div class="inner-slide">
                <div class="slide-img" style="background-image: url({{ block.settings.image | img_url: 'master' }});"></div>
                <div class="slide-content">
                  <p class="p-lg">{{ block.settings.content  }}</p>
                  {% if block.settings.askedby %}
                    <span class="sm-p">@{{ block.settings.askedby  }}</span>
                  {% endif %}
                </div>
              </div>  
            </div>
        {% endfor %}
     </div>
    </div> 
</div>
{% endif %}
{% schema %}
  {
    "name": "Photo Content Slider",
    "settings": [
      {
        "type": "checkbox",
        "id": "photo-content-slider",
        "label": "Enable Slider",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "PhotoandContent",
        "name": "Photo and Content",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Slide Image"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content to Slide",
            "default": "Lorem ipsum dolor sit amet"
          },
          {
            "type": "text",
            "id": "askedby",
            "label": "Asked By"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Hero",
        "name": "Photo Content Slider"
      }
    ]
  }
{% endschema %}

