
<div id="instagram-app" class="instagram-app">
  <div class="ia-inner">

    <div class="ai__header">
      <div class="ai__title-wrap">
        <h3 class="ai__title">
          {{ section.settings.title }}
        </h3>
      </div>
      <h4 class="ai__sub-title">
        {{ section.settings.sub-title }}
      </h4>
    </div>

    <div class="ai__content">This is a instagram section and you can find this page from component/instagramApp folder and this will be carousal slider and each image will have a URL as well.</div>


  </div>
</div>

{% schema %}
  {
    "name": "Instagram App",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "#Bettr"
      },
      {
        "type": "text",
        "id": "sub-title",
        "label": "Section Sub Title",
        "default": "to join in on the fun."
      }
    ],
    "blocks": [
      {
        "type": "instagramfeed",
        "name": "Instagramfeed",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Choose Image"
          },
          {
            "type": "url",
            "id": "cta-link",
            "label": "Link to Instagram"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Misc",
        "name": "Instagram App"
      }
    ]
  }
{% endschema %}