
<div id="three-blocks" class="three-blocks value-prop text-align-center">
  <div class="tb__inner container">
    
    <div class="section-space"></div>
    <h3>Why Men Need Skincare</h3>
    <p>Lorem ipsum dolor sit amet, et consectetur adipisicing elit.</p>
    <div class="value-props">
      <div class="item">
        <img src="{{ 'prop-img.png' | asset_img_url: '' }}" class="prop-img">
        <h4>Value Prop</h4>
        <p>Lorem ipsum dolor sit amet, et consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      </div>
      <div class="item">
        <img src="{{ 'prop-img.png' | asset_img_url: '' }}" class="prop-img">
        <h4>Value Prop</h4>
        <p>Lorem ipsum dolor sit amet, et consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
      </div>
      <div class="item">
        <img src="{{ 'prop-img.png' | asset_img_url: '' }}" class="prop-img">
        <h4>Value Prop</h4>
        <p>Lorem ipsum dolor sit amet, et consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      </div>
      <div class="item">
        <img src="{{ 'prop-img.png' | asset_img_url: '' }}" class="prop-img">
        <h4>Value Prop</h4>
        <p>Lorem ipsum dolor sit amet, et consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      </div>
    </div>
    <div class="section-space"></div>

  </div>
</div>

{% schema %}
  {
    "name": "Why Men Need",
    "settings": [
      {
        "type": "text",
        "id": "section-title",
        "label": "Section Title",
        "default": "Lorem ipsum dolor sit amet"
      },
      {
        "type": "text",
        "id": "section-desc",
        "label": "Section Description",
        "default": "Lorem ipsum dolor sit amet"
      }
    ],
    "blocks": [
      {
        "type": "Block",
        "name": "Block",
        "limit": 4,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Slide Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Block Title",
            "default": "Formulated for all skin types"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Block Text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna."
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Misc",
        "name": "Why Men Need"
      }
    ]
  }
{% endschema %}