//BreakPoints can be found in main.scss or assets/scss/viewport.scss

$BestSellersCollection-breakpoint--before-max-width: 1161px;
$BestSellersCollection-breakpoint--before-max-width_max: (
  $BestSellersCollection-breakpoint--before-max-width - 1px
);

$BestSellersCollection-breakpoint--custom-1: 1350px;
$BestSellersCollection-breakpoint--custom-2: 1200px;
$BestSellersCollection-breakpoint--custom-3: 1000px;
$BestSellersCollection-breakpoint--custom-4: 900px;
$BestSellersCollection-breakpoint--custom-5: 640px;
$BestSellersCollection-breakpoint--custom-6: 420px;

.best-selling-collection {
  position: relative;
  width: 100%;
}
.bestseller-products {
	padding-top: 25px;
	display: flex;
	justify-content: space-between;
	position: relative;
	.bestseller-product {
		max-width: 263px;
		text-align: center;
		position: relative;
	}
	.product-img {
		margin-bottom: 20px;
		img {
			max-width: 100%;
		}
	}
	.product-stars {
		margin-bottom: 20px;
		img {
			max-width: 105px;
		}
	}
	.sm-p {
		margin-bottom: 20px;
	}
	.mark {
		display: inline-block;
		width: 30px;
		height: 40px;
		background: $grey;
		position: absolute;
		top: 0;
		right: 10px;
		img {
		    max-height: 15px;
		    width: auto;
		    margin-top: 12px;
		}
	}
}

.x-fc__btn {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border-radius: 0px;
  background-color: #000;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.x-fc__btn-price {
  margin: 0;
  font-size: 12px;
  display: inline;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 5px;
  white-space: nowrap;
}
.x-fc__btn-text {
  margin: 0;
  font-size: 12px;
  display: inline;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 5px;
  white-space: nowrap;
}

.x-fc__btn:hover {
  background-color: #ffffff;
  color: #000000;
  border:1px solid #000000;
}
@media screen and (max-width: $BestSellersCollection-breakpoint--custom-5) {
  .x-fc__btn {
    margin-top: 15px;
    height: 40px;
  }
  .x-fc__btn-price,
  .x-fc__btn-text {
    font-size: 10px;
    letter-spacing: 1px;
  }
}
.quick-view-popup {
	min-height: 765px;
	position: relative;
	background: $solidGrey;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	z-index: 1000;
	@extend .ease03s;
	@extend .transScale0;	
	.quick-view-wrapper {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 50%;
		@extend .translateY50;
	}
	.quick-view-canvas {
		max-width: 1104px;
		width: 100%;
		display: flex;
		margin: 0 auto;
		position: relative;
		background: $white;
	}
	.quick-view-slides {
		width: 50%;
	}
	.quick-view-slide {
		height: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
	.quick-view-caption {
		width: 50%;
		padding: 53px 30px;
	}
	.numb-reviews {
		color: $textGrey;
		font-family: Lato;
		font-size: 10px;
		letter-spacing: 0.5px;
		line-height: 13px;
		text-decoration: underline;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 15px;
		img {
			max-width: 105px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
		}
	}
	input[type="number"] {
		height: 50px;
		line-height: 50px;
		border-color: $black;
		display: inline-block;
		vertical-align: top;
	}
	button {
		width: calc(100% - 113px);
		vertical-align: top;
		line-height: 50px;
		height: 50px;
	}
	.ctaBlack.full-width {
		line-height: 50px;
	}
	.sm-p {
		margin-bottom: 10px;
		> a {
			display: inline-block;
			vertical-align: middle;
		}
		img {
			max-width: 55px;
		}
	}
	.payment-methods {
		margin-bottom: 30px;
		img {
			max-width: 201px;
		}
	}
	.Hero__nav-inner {
		height: auto;
		bottom: 20px;
	}
}
body.quickview-open {
	.quick-view-popup {
		@extend .transScale1;
	}
}
