//BreakPoints can be found in main.scss or assets/scss/viewport.scss

$Hero-breakpoint--xlg: 1920px;
$Hero-breakpoint--xlg_max: ($Hero-breakpoint--xlg - 1px);

$Hero-breakpoint--lg: 1250px;
$Hero-breakpoint--lg_max: ($Hero-breakpoint--lg - 1px);

$Hero-breakpoint--md: 1024px;
$Hero-breakpoint--md_max: ($Hero-breakpoint--md - 1px);

$Hero-breakpoint--sm: 768px;
$Hero-breakpoint--sm_max: ($Hero-breakpoint--sm - 1px);

$Hero-breakpoint--xs: 450px;
$Hero-breakpoint--xs_max: ($Hero-breakpoint--xs - 1px);

$Hero-breakpoint--xxs: 400px;
$Hero-breakpoint--xxs_max: ($Hero-breakpoint--xxs - 1px);

$Hero-breakpoint--xxxs: 350px;
$Hero-breakpoint--xxxs_max: ($Hero-breakpoint--xxs - 1px);

$Hero-breakpoint--height-sm: 850px;
$Hero-breakpoint--height-sm_max: ($Hero-breakpoint--height-sm - 1px);

$Hero-breakpoint--height-xs: 600px;
$Hero-breakpoint--height-xs_max: ($Hero-breakpoint--height-xs - 1px);

.Hero {
  width: 100vw;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  height: calc(100vh - 115px);
  height: 650px;
}

@media screen and (max-width: $Hero-breakpoint--xlg_max) {
  .Hero {
    height: 42vw;
    max-height: calc(
      97vh -
        (
          {{settings.siteHeader-top-row-height}} + {{settings.siteHeader-bottom-row-height}}
        )
    );
  }
}
@media screen and (max-width: $Hero-breakpoint--md_max) {
  .Hero {
    /* height: calc(97vh - {{ settings.theme-spacing-top }});*/
    /*height: calc(95vh - 100px);
    min-height: 700px;
    max-height: 800px; */
    height: 500px;
    min-height: 0px;
    max-height: 100%;
  }
}
@media screen and (max-width: $Hero-breakpoint--sm_max) {
  .Hero {
    /* min-height: 600px;
    max-height: 780px; */
  }
}

.Hero__inner {
  width: 100%;
  height: 100%;
}
.Hero__slides {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Nav */
.Hero__nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 60%;
  height: 100%;
  width: 100%;
  height: 50px;
  top: auto;
  bottom: 0;
}
.Hero__nav-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
.Hero__nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.Hero__nav-item {
  width: 40px;
  height: 3px;
  background-color: $white;
  opacity: 0.5;
  margin: 0px 5px;
  cursor: pointer;
  transition: opacity 0.4s ease-in-out;
}
.Hero__nav-item:hover {
  opacity: 1;
}

.Hero_nav-item-selected {
  opacity: 1;
}

@media screen and (max-width: $Hero-breakpoint--md_max) {
  .Hero__nav {
    width: 100%;
  }
}
@media screen and (max-width: $Hero-breakpoint--xs_max) {
  .Hero__nav {
    width: 100%;
  }
}

/* Slide */
.Hero__slide {
  // display: none;
  opacity: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
}
.Hero-selected-slide {
  // display: block;
  opacity: 1;
  z-index: 2;
  position: static;
}
.Hero-slide-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

/*Image Container */
.Hero-slide__image-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.Hero-slide__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Hero-slide-mobile-image {
  display: none;
}

/* Text Container */
.Hero-slide__text-container {
  position: absolute;
  width: 100%;
  max-width: 558px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $grey;
  min-height: 312px;
  height: auto;
  padding: 50px;
  top: 50%;
  @extend .translateY50;
  &.boxpos-right {
    right: 7%;
  }
  &.boxpos-left {
    left: 7%;
  }
  &.boxpos-center {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.Hero-slide__text-box {
  width: 100%;
  max-width: 458px;
  overflow: hidden;
  color: #000;
}

.Hero-text-box__title-box {
  width: 100%;
  height: auto;
  margin-bottom: 17px;
}
.Hero-text-box__title {
  margin: 0;
  color: $white;
}

.Hero-text-box__text-box {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}
.Hero-text-box__text {
  opacity: 0.8;
  color: $white;
}

.Hero-text-box__cta-box {
  width: 100%;
  max-width: 458px;
}

.Hero-text-box__cta {
  width: 100%;
  @extend .ctaDefault;
}

/* For In/Out Animations */
.Hero-selected-slide .slide__image {
}
.Hero-selected-slide .slide__text-box {
}

@media screen and (max-width: $Hero-breakpoint--lg_max) {
  
}

@media screen and (max-width: $Hero-breakpoint--md_max) {
  
}

@media screen and (max-width: $Hero-breakpoint--sm_max) and (max-height: $Hero-breakpoint--height-sm_max) {
  .Hero {
    // min-height: 650px;
  }
}

@media screen and (max-width: $Hero-breakpoint--sm_max) and (max-height: $Hero-breakpoint--height-xs_max) {
  .Hero {
    // min-height: 545px;
  }
  .Hero-text-box__title-box {
    margin-bottom: 15px;
  }
  .Hero-text-box__text-box {
    margin-bottom: 25px;
  }
  .Hero-text-box__title {
    font-size: 32px;
    line-height: 43px;
  }
  .Hero-text-box__text {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (max-width: $Hero-breakpoint--sm_max) and (max-height: $Hero-breakpoint--height-xs_max) {
  .Hero {
    // min-height: 650px;
  }
  .Hero-text-box__title-box {
    margin-bottom: 15px;
  }
  .Hero-text-box__text-box {
    margin-bottom: 20px;
  }
  .Hero-text-box__text {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: $Hero-breakpoint--xxs_max) {
  .Hero {
    // min-height: 650px;
  }
  .Hero-text-box__title-box {
    margin-bottom: 15px;
  }
  .Hero-text-box__text-box {
    margin-bottom: 20px;
  }
  .Hero-text-box__title {
    font-size: 30px;
  }
  .Hero-text-box__text {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (max-width: $Hero-breakpoint--xxxs_max) {
  .Hero {
    // min-height: 700px;
  }
  .Hero-text-box__title-box {
    margin-bottom: 15px;
  }
  .Hero-text-box__text-box {
    margin-bottom: 20px;
  }
  .Hero-text-box__title {
    font-size: 30px;
  }
  .Hero-text-box__text {
    font-size: 16px;
    line-height: 24px;
  }
}



@media screen and (max-width: 991px){
  .Hero {
    height: auto;
  }
  .Hero-slide-inner {
    flex-direction: column;
  }
  .Hero-slide__image-container {
    height: 250px;
  }
  .Hero-slide__text-container {
    position: relative;
    max-width: 100%;
    padding: 40px 25px 30px;
    right: 0;
    left: 0;
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    &.boxpos-left, 
    &.boxpos-right,
    &.boxpos-center {
      left: 0;
      right:0;
    }  
  }
  .Hero-slide__text-box {
    text-align: center;
    padding: 0;
    margin: 0 auto;
  }
  .Hero__nav-inner {
    height: auto;
  }
  .Hero__nav {
    bottom: auto;
    top: 218px;
    height: auto;
  }
  .Hero-text-box__title {
    font-size: 30px;
    line-height: 39px;
  }
  .Hero-text-box__text {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 28px;
  }
}