$NavMenu--main_menu--height: $SiteHeader--height;
$NavMenu--main_menu--height_bp: $SiteHeader--height_bp;

$NavMenu--main_menu--font_family: $Font-family;
$NavMenu--main_menu--font_size: $Paragraph--small--font_size;
$NavMenu--main_menu--font_weight: $Font-weight--bold;
$NavMenu--main_menu--line_height: 1;
$NavMenu--main_menu--line_height_computed: (
  $NavMenu--main_menu--line_height * $NavMenu--main_menu--font_size
);

$NavMenu--main_menu--padding_vertical: ($Grid--gutter_width / 2) + 5;
$NavMenu--main_menu--padding_horizontal: 10px;
$NavMenu--main_menu--padding_horizontal_sm: 5px;
$NavMenu--main_menu--padding_horizontal_md: 10px;
$NavMenu--main_menu--padding_horizontal_lg: 12px;

$NavMenu--main_menu-link--border_width: 2px;
$NavMenu--main_menu-link--border_color: $Color--primary;
$NavMenu--main_menu-link--color: $Color--SiteHeader__Bottom;
$NavMenu--main_menu-link--hover_background_color: $Color--gray_lighter;

$NavMenu--main_menu--padding_top_bp: (
  (
      $NavMenu--main_menu--height_bp - $NavMenu--main_menu--line_height_computed -
        $NavMenu--main_menu-link--border_width * 2
    ) / 2
);
$NavMenu--main_menu--padding_bottom_bp: (
  (
      $NavMenu--main_menu--height_bp - $NavMenu--main_menu--line_height_computed -
        $NavMenu--main_menu-link--border_width * 0
    ) / 2
);

$NavMenu--main_menu--item_height: (
  $NavMenu--main_menu--font_size * $NavMenu--main_menu--line_height +
    $NavMenu--main_menu--padding_vertical * 2
);
$NavMenu--main_menu--item_height_bp: (
  $NavMenu--main_menu--font_size * $NavMenu--main_menu--line_height +
    $NavMenu--main_menu--padding_top_bp + $NavMenu--main_menu--padding_bottom_bp
);

.NavMenu--main_menu {
  padding: 0  ;
  margin: 0;
  list-style: none inside none;

  font-family: $NavMenu--main_menu--font_family;
  font-weight: $NavMenu--main_menu--font_weight;
  font-size: 0;

  flex-grow: 1;

  @media (min-width: $SiteHeader--breakpoint) {
    display: flex;
    height: 100%;
  }
}

.NavMenu--main_menu-link {
  font-size: 12px;
  line-height: 1.25;
  font-weight: 600;

  @media (min-width: $SiteHeader--breakpoint) {
    // position: relative;

    height: 100%;
  }

  @media (min-width: $SiteHeader--breakpoint_sm) {
    font-size: $NavMenu--main_menu--font_size;
    line-height: $NavMenu--main_menu--line_height;
  }

  &.is-NavMenu--parent_link {
    > a > span {
      //.make-icon(after; $icon-chevron-down; 13px; $Color--black);

      &:after {
        line-height: 0.9;
      }
    }
  }

  @media (min-width: $SiteHeader--breakpoint) {
    display: inline-block;
    flex-grow: 1;
    text-align: center;

    > a {
      // border-top: $NavMenu--main_menu-link--border_width solid transparent;
    }

    > a:hover,
    > a:focus,
    > a.is-Offcanvas--target_open {
      // background-color: $NavMenu--main_menu-link--hover_background_color;
      // border-top-color: $NavMenu--main_menu-link--border_color;

    }
  }

  a,
  a:hover,
  a:focus {
    // color: $NavMenu--main_menu-link--color;
    // text-decoration: none;
    // text-transform: uppercase;

    height: 100%;
    // color: $Color--SiteHeader__Bottom;
    display: block;

    @media (min-width: $SiteHeader--breakpoint) {
      display: inline-block;
      vertical-align: middle;

      &:before {
        content: "";
        height: 100%;

        display: inline-block;
        vertical-align: middle;
      }
    }

    span {
      display: inline-block;
      padding: $NavMenu--main_menu--padding_horizontal
        $NavMenu--main_menu--padding_vertical;

      @media (min-width: $SiteHeader--breakpoint) {
        display: inline-block;
        vertical-align: middle;
      }

      @media (min-width: $SiteHeader--breakpoint_sm) {
        padding-left: $NavMenu--main_menu--padding_horizontal_sm;
        padding-right: $NavMenu--main_menu--padding_horizontal_sm;
      }

      @media (min-width: $SiteHeader--breakpoint_md) {
        padding-left: $NavMenu--main_menu--padding_horizontal_md;
        padding-right: $NavMenu--main_menu--padding_horizontal_md;
      }

      @media (min-width: $SiteHeader--breakpoint_lg) {
        padding-left: $NavMenu--main_menu--padding_horizontal_lg;
        padding-right: $NavMenu--main_menu--padding_horizontal_lg;
      }

      &.NavMenu-link--arrow {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 3px 0 4px;
        border-color: $NavMenu--main_menu-link--color transparent transparent
          transparent;
        padding: 0;
        margin-bottom: 2px;
        display: inline-block;
        @extend .ease03s;
        @media (min-width: $SiteHeader--breakpoint_sm) {
          // display: none;
        }
      }
    }
  }
}

@mixin make-NavMenu--main_menu-link--padding(
  $NavMenu--main_menu--line_height_computed:
    $NavMenu--main_menu--line_height_computed
) {
  $NavMenu--main_menu--padding_vertical: ($Grid--gutter_width / 2);
  $NavMenu--main_menu--padding_horizontal: 10px;

  $NavMenu--main_menu--padding_vertical_md: 10px;
  $NavMenu--main_menu--padding_horizontal_md: (
    ($NavMenu--main_menu--height - $NavMenu--main_menu--line_height_computed) /
      2
  );

  $NavMenu--main_menu--padding_vertical_lg: ($Grid--gutter_width / 2);
  $NavMenu--main_menu--padding_horizontal_lg: (
    ($NavMenu--main_menu--height - $NavMenu--main_menu--line_height_computed) /
      2
  );

  padding: $NavMenu--main_menu--padding_horizontal
    $NavMenu--main_menu--padding_vertical;

  @media (min-width: $SiteHeader--breakpoint) {
    padding: $NavMenu--main_menu--padding_horizontal_md
      $NavMenu--main_menu--padding_vertical_md;
  }

  @media (min-width: $SiteHeader--breakpoint_md) {
    padding: $NavMenu--main_menu--padding_horizontal_md
      $NavMenu--main_menu--padding_vertical_md;
  }

  @media (min-width: $SiteHeader--breakpoint_lg) {
    padding: $NavMenu--main_menu--padding_horizontal_lg
      $NavMenu--main_menu--padding_vertical_lg;
  }
}




// Custom SASS
.SiteHeader {
  .SiteHeader-navigation {    
    .NavMenu--main_menu {
      padding-left: 0;
      .NavMenu--main_menu-link {
        a {
          span {
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
          &:hover {
            span {
              text-decoration: underline;
            }
          }
        } 
      }
    }
    .SiteHeader-Icon {
      padding-left: 0;
      img {
        max-height: 27px;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    .SiteHeader-search {
      width: auto;
    }
    &.SiteHeader-navigation--third_menu {
      height: 45px;      
      z-index: 100;
      position: relative;
      @extend .ease03s;
      .NavMenu-link {
        margin-right: 65px;
        a {
          span {
            padding-right: 0;
          }
        }
        &:last-child {
          a {
            span {
              padding-right: 0;
              padding-left: 0;
            }
          }
        }
      }
      li {
        a[data-toggle="offcanvas"] {
          span {
            margin-right: 5px;
          }
        }        
        &:hover {
          .NavMenu-link--arrow {
            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            -o-transform: rotate(-180deg);
            transform: rotate(-180deg);
          }
        }
      }
    }
  }
  .searchbar {
    padding: 0 8%;
    clear: both;
    background-color: $white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    .searchbar-inner {
      position: relative;
      display: flex;
      align-items: center;
      overflow: hidden;
      height: 0px;
      @extend .ease03s;
      > img {
        max-width: 20px;
      }
      form {
        width: 100%;
        input[type="text"] {
          padding: 0 0 0 15px;
          border: none;
          line-height: 40px;
          width: 100%;
          outline: none;
          font-size: 12px;
          font-family: $defaultFam;
          font-weight: 500;
          letter-spacing: 0.5px;
          line-height: 16px;
        }
        button {
          position: absolute;
          left: 0;
          top: 0;
          cursor: pointer;
          z-index: 10;
          background: transparent;
          border: none;
          width: 20px;
          height: 40px;
          padding: 0;
        }
      }
    }
    &.search-open {
      .searchbar-inner {
        height: 45px;
      }
    }
  }
}

@media (min-width: 1200px) {

  .NavMenu--main_menu {
    padding-left: 0;
    .NavMenu--main_menu-link {
      margin-right: 45px;
      a, a:hover, a:focus {
        span {
          padding-right: 0px;
          padding-left: 0;
        }
      } 
    }
  }

}

@media screen and (max-width: 1199px){
  .NavMenu--main_menu-link {
    margin-right: 45px;
  }
}
@media screen and (max-width: 991px){
  .SiteHeader {
    .SiteHeader-banner {
      height: 70px;
      border: none;
    }
    .SiteHeader-container {
      .SiteHeader-content {
        position: initial;
        transform: none;
        width: 100%;
        &.is-Offcanvas--closed {
          transform: none;
        }
        .SiteHeader-navigation--first_menu {
          position: absolute;
          right: 0;
          top: 0;
          z-index: 100;
          padding: 23px 25px;
          .SiteHeader-search {
            position: absolute;
            left: calc(-100vw + 200px);
            height: auto;
            top: 24px;
            margin-left: 10px;
          }
        }
        .SiteHeader-navigation--second_menu {
          display: none;
        }
        .SiteHeader-navigation--third_menu {
          position: absolute;
          height: auto;
          left: -100%;
          top: 70px;
          background: $grey;
          padding: 0;
          border: none;
          height: calc(100vh - 70px);
          justify-content: flex-start !important;
          padding: 15px 25px 50px;
          overflow-y: auto;
          > div {
            padding-bottom: 30px;
          }
          .NavMenu-link {
            a {
              span {
                padding-left: 0;
                line-height: 16px;
              }
            }
            .SiteHeader-dropdown {
              padding-left: 20px;
              li {
                a {
                  span {
                    font-weight: 600;
                  }
                }
              }
            }
          }
          
          .NavMenu--dropdown {
            li {
              a {
                img {
                  display: none;
                }
              }
            }
          }
          &::before {
            content: none;
          }
        }
        &.is-Offcanvas--open {
          .SiteHeader-navigation--third_menu {
            left: 0;
          }
        }
      }
    }    
    .SiteHeader-Icon{
      &:last-child {
        margin-left: 20px;
      }
      .SiteHeader-account {
        padding-left: 0;
      }
      img {
        max-height: 19px;
      }
      .SiteHeader-cart_icon {
        min-width: 23px;
        min-height: 24px;        
        top: 2px;
        position: relative;
      }
    }
    .SiteHeader-navigation {
      .SiteHeader-Icon {
        img {
          max-height: 23px;
        }
      }
    }
    .searchbar {
      position: absolute;
      width: 100%;
      box-shadow: none;
      top: 71px;
    }
  }

}

.SiteHeader-navigation--second_menu ul li.hidefromsecondmenu{display:none;}
@media screen and (max-width: 1199px){
  .SiteHeader-navigation--second_menu div ul li a span{
    padding-left: 0;
    padding-right: 0;
  }
  .NavMenu--main_menu-link a span, 
  .NavMenu--main_menu-link a:hover span, 
  .NavMenu--main_menu-link a:focus span {
    padding-left: 0;
    padding-right: 0;
  }
}