$QuizHeroHeader--min_height: 556px;
$QuizHeroHeader--min_height_sm: 556px;
$QuizHeroHeader--min_height_md: 556px;
$QuizHeroHeader--min_height_lg: 556px;

$QuizHeroHeader--thin--min_height: 330px;
$QuizHeroHeader--thin--min_height_sm: 330px;
$QuizHeroHeader--thin--min_height_md: 330px;
$QuizHeroHeader--thin--min_height_lg: 330px;

$QuizHeroHeader--breakpoint: $Viewport-sm;

.QuizHeroHeader {
    @include make-Padding();
    padding-top: 15px;
    padding-bottom: 15px;

    display: table;
    width: 100%;

    background-size: cover;
    background-position: center;
    text-align: center;

    min-height: $QuizHeroHeader--min_height;

    @media (min-width: $Viewport-sm) {
        min-height: $QuizHeroHeader--min_height_sm;
    }

    @media (min-width: $Viewport-md) {
        min-height: $QuizHeroHeader--min_height_md;
    }

    @media (min-width: $Viewport-lg) {
        min-height: $QuizHeroHeader--min_height_lg;
    }
}

.QuizHeroHeader--thin {
    min-height: $QuizHeroHeader--thin--min_height;

    @media (min-width: $Viewport-sm) {
        min-height: $QuizHeroHeader--thin--min_height_sm;
    }

    @media (min-width: $Viewport-md) {
        min-height: $QuizHeroHeader--thin--min_height_md;
    }

    @media (min-width: $Viewport-lg) {
        min-height: $QuizHeroHeader--thin--min_height_lg;
    }
}

.QuizHeroHeader--light_bg {
    @include make-Type--color($Font-color--black);
}

.QuizHeroHeader--dark_bg {
    @include make-Type--color($Font-color--white);
}

.QuizHeroHeader--image_focus_right {
    background-position: center left;

    @media (min-width: $QuizHeroHeader--breakpoint) {
        text-align: left;
        background-position: center;
    }
}

.QuizHeroHeader--image_focus_left {
    background-position: center right;

    @media (min-width: $QuizHeroHeader--breakpoint) {
        text-align: right;
        background-position: center;
    }
}

.QuizHeroHeader-container {
    @extend .Container;
}

.QuizHeroHeader-valign {
    display: table-cell;
    vertical-align: middle;

    :first-child {
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }
}

.QuizHeroHeader-valign--bottom {
    vertical-align: bottom;
}

.QuizHeroHeader-valign--top {
    vertical-align: top;
}


.quiz-section {
    background-color: $black;
    .container {
        position: relative;
    }
    .quiz-bg {
        min-height: 546px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }   
    .quiz-blurb {
        position: absolute;
        top: 50%; 
        left: 67px;
        @extend .translateY50;
        max-width: 390px;
    }
    p {
        opacity: 0.8;
    }
}

@media screen and (max-width: 991px) {
    .quiz-section {
        .quiz-bg {
            min-height: 250px;
            margin-bottom: 30px;
            background-position: center right;
        }
        .quiz-blurb {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            transform: none;
        }
        h2 {
            color: $white;
            font-size: 28px;
            line-height: 37px;
            margin-bottom: 15px;
        }
        p {
            color: $white;
        }
        .ctaDefault {
            width: 100%;
        }
    }
}