{% if section.settings.insta-feed %}
  <div id="instagram-app" class="instagram-app">
    <div class="section-space"></div>
      <div class="text-align-center container">
        <h3>{{section.settings.title}}</h3>
        <p>Follow us on Instagram <a href="#">{{section.settings.sub-title}}</a></p>
      </div>
      <div class="slider-container">
      <div class="slider instaslider">
        {% for block in section.blocks %}
          <div>
            <a href="{{ section.settings.cta-link }}" class="inner-slide">
              <div class="slide-img" style="background-image: url({{ block.settings.image | img_url: 'master' }});"></div>
            </a>  
          </div>
        {% endfor %}
     </div>
    </div> 
  <div class="section-space"></div>
</div>
{% endif %}
{% schema %}
  {
    "name": "Instagram App",
    "settings": [
      {
         "type": "checkbox",
         "id": "insta-feed",
         "label": "Enable ",
         "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "#Bettr"
      },
      {
        "type": "text",
        "id": "sub-title",
        "label": "Section Sub Title",
        "default": "to join in on the fun."
      }
    ],
    "blocks": [
      {
        "type": "instagramfeed",
        "name": "Instagramfeed",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Choose Image"
          },
          {
            "type": "url",
            "id": "cta-link",
            "label": "Link to Instagram"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Misc",
        "name": "Instagram App"
      }
    ]
  }
{% endschema %}